body {
	margin-left: 1px;
	margin-right: 1px;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
	max-width: 390px;
}

/* a.arrow-leftt:active, 
a.arrow-left:hover,  
a.arrow-left {
  content: none;
} */

.inner_head {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 66px;
	align-items: center;
}

.img_crown {
	width:64px;
}

.head_bg {
	grid-column: 2 / 2;
	grid-row: 1 / 2	;
	z-index: 0;

	text-align: center;
	align-content: center;

	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size: 1.5em;
	font-weight: normal;

	-webkit-text-stroke: 1px #000000;
	color: #fffc67;
}

.arrow-left span {
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 3px solid #3191ff;
    border-left: 3px solid #3191ff;
   
    margin: -2px;
    animation: arrow-left 1s infinite;
    float: left;

    position: relative;
    left: 90mm;
    top: 90mm;
}
 
.arrow-left span:nth-child(2){
    animation-delay: -0.1s;
}
.arrow-left span:nth-child(3){
    animation-delay: -0.2s;
}
@keyframes arrow-left {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-0px,-0px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(0px,0px);
    }
}