@media (max-width: 768px) {
  
  .add-classified-btn {
    margin: 20px 0 0 0;
  }

}
img.iconurl {
    max-width: 35px;
    margin-right: 20px;
}
.lequecopy,.lequeabuse {
    background: rgb(245, 245, 245);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: #000;
    font-family: monospace;
}

.lequecopy>a {
    color: #00B7FF;
}
.lequeabuse>a{
	color:#d50000;
	}
.td-btn{
    width: 75px;
}
.td-price{
	width: 200px;
    max-width: 200px;
}
.td-count{
text-align:center;
}

.th-count,.th-price,.td-price{
text-align:center;
}

.countitem{

    position: absolute;
    margin-top: -22.5px;
    border-radius: 0px 2px 0px 0px;
    font-size: 15px;

}

.priceitem{

	border-radius: 0px 0px 0px 2px;
    font-size: 15px;
    margin-left: 91.7px;
    right: 20px;
    position: absolute;
    top: 4px;
    right: 4px;

}